* {
    font-family: 'Poppins', sans-serif;
}

/* banner section */

.bannerContainer {
    background-image: url("../images/BannerImage/banner.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerOverlay {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.bannerContent {
    margin-top: 16em;
}

.bannerTitle {
    font-weight: 700;
    color: #f8f9fa;
    font-size: 64px;
}

.bannerSubTitle {
    font-weight: 600;
    color: #f8f9fa;
    font-size: 32px;
}

/* end banner section */

/* services section */

.serviceContainer {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.serviceMainTitle {
    color: #2d2e32;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 48px;
}

.bottom {
    background: #ffc107 none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.serviceCard {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    border-radius: 7px;
    box-shadow: 0 0 8px 0 rgba(22, 22, 22, 0.185)
}

.serviceCard:hover {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    border-radius: 7px;
    box-shadow: 0 0 16px 0 rgba(22, 22, 22, 0.185)
}

.designIcon {
    height: 100px;
    width: 100px;
}

.ecommerceIcon {
    height: 100px;
    width: 100px;
}

.webIcon {
    height: 100px;
    width: 100px;
}

.serviceName {
    color: #2d2e32;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.serviceDescription {
    color: #555555;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
}

/* end services section */

/* navbar section */

.navbar {
    padding: 20px 0 !important;
}

.navBackground {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgb(00, 00, 00,0.0);
}

.navBackgroundScroll {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.navTitle {
    color: #f8f9fa !important;
    font-weight: 700;
    font-size: 30px !important;
}

.navTitleScroll {
    color: #2d2e32 !important;
    font-weight: 700;
    font-size: 30px !important;
}

.navItem {
    color: #f8f9fa !important;
    font-weight: 500 !important;
}

.navItem:hover {
    color: #ffc107 !important;
}

.navItemScroll {
    color: #2d2e32 !important;
    font-weight: 500 !important;
}

.navItemScroll:hover {
    color: #ffc107 !important;
}

/* end navbar section */

/* analysis section */

.analysisContainer {
    background-color: #f8f9fa;
    padding-bottom: 5rem;
}

.analysisDescription {
    text-align: justify;
    color: #555555;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
}

/* end analysis section */

/* summary section */

.summaryBanner {
    background-image: url('../images/SummaryImage/summary.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay {
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgba(45, 46, 50, 0.805);
}

.countSection {
    margin-top: 20% !important;
}

.countNumber {
    color: #f8f9fa;
    font-weight: 700;
    font-size: 40px;
}

.countTitle {
    color: #ffc107;
    font-weight: 600;
    font-size: 22px;
}

.cardTitle {
    color: #2d2e32;
    font-weight: 700;
    font-size: 15px;
}

.cardSubTitle {
    color: #2d2e32;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
}

.workCard {
    margin-top: 25%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.iconBullent {
    color: #2d2e32;
    font-size: 16px;
}

.iconProject {
    color: #f8f9fa;
    font-size: 40px;
}

.lineSummary {
    background: #f8f9fa none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-top: 1rem;
}

/* end summary section */

/* recent projects section */

.recentProjectsContainer {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.projectsCard {
    background: #f8f9fa !important;
    width: 20em;
    border-radius: 0.6em;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 200ms;
}

.projectsCard:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;
}

/* end recent projects section */

/* courses section */

.coursesContainer {
    background-color: #f8f9fa;
    padding-bottom: 5rem;
}

.coursesImage {
    width: 100%;
}

.coursesName {
    color: #2d2e32;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
}

.coursesDescription {
    color: #555555;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.coursesViewDetails {
    color: #2d2e32;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

.coursesViewDetails:hover {
    color: #ffc107;
    cursor: pointer;
}

/* end courses section */

/* video section */

.videoContainer {
    background-color: #f8f9fa;
    padding-bottom: 5rem;
}

.videoText {
    margin-top: 2% !important;
}

.videoDescription {
    color: #555555;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.videoCard {
    box-shadow: 0px 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background-color: #2d2e32;
    margin: 20px auto;
    border-radius: 5px;
}

/* end video section */

/* testimonial section */

.testimonialContainer {
    background-color: #2d2e32;
    min-height: 500px;
    padding-bottom: 6rem;
}

.testimonialMainTitle {
    color: #f8f9fa;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-weight: 700;
    font-size: 48px;
}

.testimonialBottom {
    background: #f8f9fa none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.circleImage {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #2d2e32;
}

.testimonialName {
    color: #f8f9fa;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.testimonialDescription {
    color: #f8f9fa;
    margin-top: 1rem;
    font-size: 15px;
}

/* end testimonial section */

/* about section */

.aboutContainer {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.aboutMeImage {
    width: 500px;
    height: 500px;
    padding-top: 40px;
    background-color: #2d2e32;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}

.aboutImage {
    height: 100%;
}

.aboutMeBody {
    width: 100%;
    height: 100%;
    padding-left: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
}

.aboutMeDetails {
    color: #2d2e32;
    font-size: 28px;
    font-weight: 600;
}

.aboutMeTitle {
    color: #2d2e32;
    font-size: 48px;
    font-weight: 700;
}

/* end about section */

/* footer section */

.footerContainer {
    background-color: #2d2e32;
    box-shadow: 0 8px 0 0;
}

.footerName {
    color: #f8f9fa;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 22px;
}

.social-container {
    margin-top: 30px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.facebook {
    color: #f8f9fa;
}

a.youtube {
    color: #f8f9fa;
}

a.twitter {
    color: #f8f9fa;
}

a.facebook:hover {
    color: #316FF6;
}

a.youtube:hover {
    color: #CD201F;
}

a.twitter:hover {
    color: #1DA1F2;
}

.footerDescription {
    color: #f8f9fa;
    margin-top: 1rem;
    font-size: 15px;
}

.footerLink {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 14px;
}

.footerLink:hover {
    color: #ffc107;
    text-decoration: none;
}

.copyrightSection {
    padding: 25px 20px 20px 20px;
    background-color: #2d2e32cc;
}

.copyrightLink {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 15px;
}

.copyrightName {
    font-weight: bold;
}

.copyrightName:hover {
    color: #ffc107;
}

/* end footer section */

/* top page section */

.topPageContainer {
    background-image: url("../images/TopPageImage/top.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageOverlay {
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(45, 46, 50, 0.928);
}

.topPageContent {
    margin-top: 10em;
}

.topPageTitle {
    font-weight: 700;
    color: #ffc107;
    font-size: 64px;
}

/* end top page section */

/* about description section */

.aboutDescriptionContainer {
    background-color: #f8f9fa;
    padding-bottom: 5rem;
}

/* end about description section */

/* all courses section */

.allCoursesContainer {
    background-color: #f8f9fa;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* end all courses section */

/* contact section */

.contactContainer {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

/* end contact section */