* {
    font-family: 'Poppins', sans-serif;
}

/* banner section */

.bannerContainer {
    background-image: url("../images/BannerImage/banner.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerOverlay {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.bannerContent {
    margin-top: 16em;
}

.bannerTitle {
    font-weight: 700;
    color: #f8f9fa;
    font-size: 64px;
}

.bannerSubTitle {
    font-weight: 600;
    color: #f8f9fa;
    font-size: 32px;
}

/* end banner section */

/* services section */

.serviceContainer {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.serviceMainTitle {
    color: #2d2e32;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 48px;
}

.bottom {
    background: #ffc107 none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.serviceCard {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    border-radius: 7px;
    box-shadow: 0 0 8px 0 rgba(22, 22, 22, 0.185)
}

.serviceCard:hover {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    border-radius: 7px;
    box-shadow: 0 0 16px 0 rgba(22, 22, 22, 0.185)
}

.designIcon {
    height: 100px;
    width: 100px;
}

.ecommerceIcon {
    height: 100px;
    width: 100px;
}

.webIcon {
    height: 100px;
    width: 100px;
}

.serviceName {
    color: #2d2e32;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.serviceDescription {
    color: #555555;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
}

/* end services section */

/* navbar section */

.navbar {
    padding: 20px 0 !important;
}

.navBackground {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgb(00, 00, 00,0.0);
}

.navBackgroundScroll {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.navTitle {
    color: #f8f9fa !important;
    font-weight: 700;
    font-size: 30px !important;
}

.navTitleScroll {
    color: #2d2e32 !important;
    font-weight: 700;
    font-size: 30px !important;
}

.navItem {
    color: #f8f9fa !important;
    font-weight: 500 !important;
}

.navItem:hover {
    color: #ffc107 !important;
}

.navItemScroll {
    color: #2d2e32 !important;
    font-weight: 500 !important;
}

.navItemScroll:hover {
    color: #ffc107 !important;
}

/* end navbar section */